// Resposive

@media only screen and (max-width: 767px) {
	.mobile {
	  display: none;
	}
    .containerLangage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 170px;
        width: 70%;
        margin-bottom: 50px;
        border-radius: 15px;
        background-color: #03a9f4;
        padding: 18px;
    }
    .titleMySkill{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        height: 70px;
        width: 300px;
        color: black;
        margin-bottom: 100px;
    }
    .boxLangage{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .boxFramework{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .boxSkills{
        background-color: rgb(71, 64, 64);
        width: 175px;
        height: 60px;
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
  }

  @media only screen and (min-width: 768px) {
	.desktop {
	  display: none;
	}
    .containerLangage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-height: 600px;
        width: 70vw;
        max-width: 800px;
        margin-bottom: 50px;
        border-radius: 15px;
        background-color: #03a9f4;
        padding: 18px;
    }
    .titleMySkill{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        height: 70px;
        width: 400px;
        color: black;
       
        margin-bottom: 100px;
    }
    .boxLangage{
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    
    .boxFramework{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .boxSkills{
        background-color: rgb(71, 64, 64);
        width: 175px;
        height: 60px;
        border-radius: 10px;
        margin: 6px 6px 6px 6px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
  }

    
// @media only screen and (max-width: 1517px) {
//     .containerLangage{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         height: 170px;
//         width: 70%;
//         margin-bottom: 50px;
//         border-radius: 15px;
//         background-color: #03a9f4;
//         padding: 18px;
//     }
//     }

// @media only screen and (max-width: 1289px) {
//     .containerLangage{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         height: 170px;
//         width: 80%;
//         margin-bottom: 50px;
//         border-radius: 15px;
//         background-color: #03a9f4;
//         padding: 18px;
//     }
//     }

// @media only screen and (max-width: 1132px) {
//     .containerLangage{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         height: 170px;
//         width: 90%;
//         margin-bottom: 50px;
//         border-radius: 15px;
//         background-color: #03a9f4;
//         padding: 18px;
//     }
//     }

// @media only screen and (max-width: 1028px) {
//     .containerLangage{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         height: 670px;
//         width: 100%;
//         margin-bottom: 50px;
//         border-radius: 15px;
//         background-color: #03a9f4;
//         padding: 18px;
//     }
//     }

.containerSkills{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 930px;
    width: 100%;
    padding-top: 100px;
    color: rgb(241, 227, 227);
}


// Logo Text

.textSkillsLangage{
    margin: 0;
}
.textSkill{
    margin-top: 0px;
}
.logoCode{
    text-align: center;
}

.iconIntro{
    font-size: 400%;
    margin: 20px 0 10px 0;
}

.logoSkills{
    height: 30px;
}